<div class="content">
    <img class="mypic" src="../assets/profilepic.jpg" alt="mainpic" />
    <div class="left-side">
        <div class="about">
            <h1 class="aboutTitle">About me</h1>
            <!-- <p>Ha lelkes, motivált fullstack fejlesztőt kersenek, ne keressenek tovább. 2023 nyarán végeztem el 10 hónapos képzésem, ahol sokat sikerült fejlődnöm, és azóta is folyamatosan fejlesztem magam. Szeretek új dolgokat tanulni, ebből adódik, hogy már sokféle területen kipróbáltam magam. Kreatív és művészi oldalam elvitt a színészi plályára. Később a szociális szférában leginkébb a szervezőkészségemre és az empatikus készségemre volt szükségem. Pénzügyi végzettségemnek pedig adminisztrátori munkakörben vettem hasznát. Erősen absztrakt gondolkodású vagyok, szükségem van a logikai kihívásokra. Amikor elkezdtem ismerkedni a programozással, felfedeztem, milyen fantasztikus újra és újra megoldani a problémákat.

          A hobbiaim is változatosak, szeretek új kézműves technikákat  kipróbálni, mint a horgolás, kötés, foltvarrás, vagy ami épp megtetszik. Néhány éve tanulok zongorázni. Szeretek a családommal kirándulni és társasjátékozni. </p> -->
            <p class="abouttext collapsing" *ngIf="!showLooseText" (click)="toggleText()">I'm Orsolya Rédei from
                Szeged(Hungary). If you are looking for an enthusiastic, motivated fullstack developer, look no further.
                ...</p>
            <p class="abouttext collapsing" *ngIf="showLooseText" (click)="toggleText()">I'm Orsolya Rédei from
                Szeged(Hungary). If you are looking for an enthusiastic, motivated fullstack developer, look no further.
            </p>
            <p [@fade]="showLooseText ? 'visible' : 'hidden'" class="abouttext collapsing" *ngIf="showLooseText"
                (click)="toggleText()">I completed my 10-month
                training in the summer of 2023, where I made a
                lot of progress and have been improving ever since. I love learning new things, hence I have tried my
                hand
                in many different fields. My creative and artistic side has taken me into the acting field. Later, my
                organisational skills and empathy were most needed in the social sector. And I used my financial
                education
                in an administrative job. I have a strong abstract mind and need logical challenges. When I started
                learning
                programming, I discovered how fantastic it is to solve problems over and over again.</p> <br>
            <p [@fade]="showLooseText ? 'visible' : 'hidden'" class="abouttext" *ngIf="showLooseText"
                (click)="toggleText()">
                My hobbies are also varied, I like to try new crafting techniques like crocheting, knitting, quilting,
                or
                whatever takes my fancy. I have been learning to play the piano for a few years. I enjoy going on trips
                with
                my family and playing board games. <br><br></p>
        </div>
        <div class="about">
            <h1 class="aboutTitle">Tech skills</h1>
            <p class="abouttext collapsing" *ngIf="!showLooseText2" (click)="toggleText2()">As a fullstack developer I
                can make a complete web application. ...
                <br><br>
            </p>
            <p class="abouttext collapsing" *ngIf="showLooseText2" (click)="toggleText2()">As a fullstack developer I
                can make a complete web application.
                <br><br>
            </p>
            <p [@fade]="showLooseText2 ? 'visible' : 'hidden'" class="abouttext collapsing" *ngIf="showLooseText2"
                (click)="toggleText2()">Are you interested in more?<br><br>
                I've learned Javascript and C# during my education. And I also made projects with Java and Typescript.
                <br><br>
                I have experience with SQL databases, (MSSQL the most). But I am really opened to learn new
                things.
                <br><br>
                Take a look at my projects for more information.
            </p>
        </div>
    </div>

</div>
<div class="gifcontainer">
    <img class="mygif" src="../assets/portfolio.gif" alt="main page gif" />
</div>