.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form input,
form textarea,
form select {
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1em;
    background-color: antiquewhite;
    margin-bottom: 1em;
    color: #1f504f;

    &:focus {
        outline: none;
        border-color: #666;
    }
}

form textarea {
    min-height: 200px;
    resize: vertical;
}


#submitbutton {
    backface-visibility: hidden;
    background-color: #1f504f;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Kalam";
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}

#submitbutton:hover {
    background-color: #338c6b;
    border: 2px solid white;
    font-weight: 500;
}

form label {
    color: rgb(199, 230, 219);
}

h2 {
    color: rgb(199, 230, 219);
}