// body {
//     background-color: rgb(66, 99, 88);
// }

:host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(180deg,
            var(--orange-red) 0%,
            var(--vivid-pink) 50%,
            var(--electric-violet) 100%);

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(90deg,
            var(--orange-red) 0%,
            var(--vivid-pink) 50%,
            var(--electric-violet) 100%);

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: "Merienda";
    font-style: italic;

    /* font-size: 22px; */
    padding: 1rem;
    font-size: 3.125rem;
    color: rgb(199, 230, 219);
    font-weight: bold;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    /* font-family: "Kalam", "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol"; */
}

p {
    margin: 0;
    color: var(--gray-700);
}

main {
    // background-color: rgb(66, 99, 88);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;

}

.menuContainer {
    background: linear-gradient(to bottom, RGB(73, 105, 94), RGB(0, 30, 18, 255));
    // background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    height: 8rem;
    width: 100vw;
}

.menuButton {
    // border-radius: 15%;
    appearance: button;
    backface-visibility: hidden;
    background-color: rgba(0, 30, 18, 255);
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Kalam";
    font-size: 120%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    padding: 0 25px;
    position: relative;
    left: 3rem;

}

.menuButton:hover {
    background-color: #338c6b;
    border: 2px solid white;
    font-weight: 500;
}

.menu {
    display: flex;
    justify-content: space-around;


}

h2 {
    color: rgb(199, 230, 219);
    cursor: pointer;
}

.page {
    position: absolute;
    top: 7rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 0.73rem;
    margin-top: 1.5rem;
}

.social-links path {
    transition: fill 0.3s ease;
    fill: var(--gray-400);
}

.social-links a:hover svg path {
    fill: var(--gray-900);
}